name: .deploy.yaml

on:
  workflow_call:
    inputs:
      image:
        description: 'Image to deploy'
        required: true
        type: string
      vars:
        description: 'Variables to deploy'
        required: true
        type: string
      cluster:
        description: 'Cluster to deploy to'
        required: true
        type: string
      environment:
        description: 'Environment'
        required: true
        type: string

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || (github.event_name == 'workflow_dispatch' && github.event.inputs.environment == inputs.environment) }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Deploy to ${{ inputs.cluster }}
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: nais/nais.yaml
          VAR: image=${{ inputs.image }}
          VARS: ${{ inputs.vars }}
          ENVIRONMENT: ${{ inputs.cluster }}:pensjonsbrev:${{ inputs.environment }}