name: NAIS Deploy

on:
  workflow_dispatch:
  push:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
      digest: ${{ steps.docker-build-push.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLEKEY }}
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew build
      - name: "Build and publish container image"
        uses: nais/docker-build-push@v0
        id: docker-build-push
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch' }}
        with:
          team: pensjonsbrev
          image_suffix: pensjon-brevmetadata
          salsa: false

  deploy-to-dev-q2:
    name: Deploy to dev - q2
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    with:
      cluster: dev-gcp
      image: ${{ needs.build.outputs.image }}
      vars: nais/dev-q2.yaml
      environment: q2

  deploy-to-prod:
    name: Deploy to prod
    needs: [build]
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    with:
      cluster: prod-gcp
      image: ${{ needs.build.outputs.image }}
      vars: nais/prod.yaml
      environment: prod

  salsa:
    name: Generate SBOM, attest and sign image
    needs: build
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch'
    permissions:
      id-token: "write"
    steps:
      - name: NAIS login
        uses: nais/login@v0
        id: login
        with:
          team: pensjonsbrev
      - name: Generate SBOM, attest and sign image
        id: attest-sign
        uses: nais/attest-sign@v2
        with:
          image_ref: ${{ needs.build.outputs.image }}@${{ needs.build.outputs.digest }}