name: NAIS Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Deploy to environment
        options:
          - q1
          - q2
          - q5
  push:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
      digest: ${{ steps.docker-build-push.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Setup cache
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: mvn -B package --file pom.xml
      - name: "Build and publish container image"
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: pensjonsbrev
          image_suffix: pensjon-brevmetadata
          salsa: false

  deploy-to-dev-q1:
    name: Deploy to dev - q1
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    with:
      cluster: dev-gcp
      image: ${{ needs.build.outputs.image }}
      vars: nais/dev-q1.yaml
      environment: q1

  deploy-to-dev-q2:
    name: Deploy to dev - q2
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    with:
      cluster: dev-gcp
      image: ${{ needs.build.outputs.image }}
      vars: nais/dev-q2.yaml
      environment: q2

  deploy-to-dev-q5:
    name: Deploy to dev - q5
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    with:
      cluster: dev-gcp
      image: ${{ needs.build.outputs.image }}
      vars: nais/dev-q5.yaml
      environment: q5

  deploy-to-dev-prodlik:
    name: Deploy to dev - prodlik
    needs: build
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    with:
      cluster: dev-gcp
      image: ${{ needs.build.outputs.image }}
      vars: nais/dev-prodlik.yaml
      environment: prodlik

  deploy-to-prod:
    name: Deploy to prod
    needs: [deploy-to-dev-prodlik, build]
    uses: ./.github/workflows/.deploy.yaml
    secrets: inherit
    with:
      cluster: prod-gcp
      image: ${{ needs.build.outputs.image }}
      vars: nais/prod.yaml
      environment: prod

  salsa:
    name: Generate SBOM, attest and sign image
    needs: build
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.ref == 'refs/heads/main') || github.event_name == 'workflow_dispatch'
    permissions:
      id-token: "write"
    steps:
      - name: NAIS login
        uses: nais/login@v0
        id: login
        with:
          team: pensjonsbrev
      - name: Generate SBOM, attest and sign image
        id: attest-sign
        uses: nais/attest-sign@v1
        with:
          image_ref: ${{ needs.build.outputs.image }}@${{ needs.build.outputs.digest }}